In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_train = pd.read_csv('../dataset/train_folds.csv')
df_test = pd.read_csv('../dataset/test.csv')

In [3]:
df_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Fold
0,FDZ25,15.70,Regular,0.027730,Canned,169.3790,OUT018,2009,Medium,Tier 3,Supermarket Type2,1528.0110,0
1,NCE07,8.18,Low Fat,0.013130,Household,142.6154,OUT046,1997,Small,Tier 1,Supermarket Type1,709.0770,0
2,NCS38,8.60,Low Fat,0.090559,Household,112.6176,OUT018,2009,Medium,Tier 3,Supermarket Type2,3091.9752,0
3,NCC19,6.57,Low Fat,0.096800,Household,192.3820,OUT013,1987,High,Tier 3,Supermarket Type1,4247.8040,0
4,FDR14,NaN,Low Fat,0.304737,Dairy,54.7298,OUT019,1985,Small,Tier 1,Grocery Store,107.8596,0

In [8]:
df_train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
Fold                           int64
dtype: object

In [9]:
df_train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Fold'],
      dtype='object')

In [34]:
cat_cols = [
    c for c in df_train.columns.to_list() if df_train[c].dtypes == np.object 
]

In [36]:
cat_cols

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [37]:
num_cols = [
    c for c in df_train.columns if c not in cat_cols
]

In [39]:
num_cols

['Item_Weight',
 'Item_Visibility',
 'Item_MRP',
 'Outlet_Establishment_Year',
 'Item_Outlet_Sales',
 'Fold']

In [41]:
comb_cols = [
    c for c in cat_cols if c not in ('Outlet_Identifier' , 'Item_Identifier')
]

In [42]:
comb_cols

['Item_Fat_Content',
 'Item_Type',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [48]:
[1,2,5,3].intersection([2,3,8,9])

AttributeError: 'list' object has no attribute 'intersection'